{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %}

{% include 'base/slider.html' %}


<section class="featured-categories">
  <div class="container">
    <div class="title">
      <h2>Featured Categories</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'images/fimg1.jpg' %}" >
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/fimg2.jpg' %}" >
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/fimg3.jpg' %}" >
      </div>
    </div>
  </div>
</section>

<section class="on-sale">
  <div class="container">
    <div class="title-box">
      <h2>On Sale</h2>
    </div>
    
    <div class="row">
      
      {% for product in sale %}
      <div class="col-md-3">
        <div class="product-top">
          <img src="{{product.product_cover.url}}" >
          <div class="overlay-right">
            <a href="{{product.get_absolute_url}}"<button type="button" class="btn btn-secondary" title="Quick Shop">
                <i class="fa fa-eye"></i>
            </button></a>
            <a href="{% url 'cart-home' %}"><button type="button" class="btn btn-secondary" title="Add to Wishlist">
                <i class="fa fa-heart-o"></i>
            </button></a>
            <button type="button" class="btn btn-secondary" title="Add to Cart">
                <i class="fa fa-shopping-cart"></i>
            </button>
          </div>
        </div>
        <div class="product-bottom text-center">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
            <h3>{{product.name}}</h3>
            {% if product.on_sale %}
            <h5>৳ <strike>{{product.price}}</strike> <br> {{ product.sale_price }}</h5>
            {% else %}
            <h5>৳ {{product.price}}</h5>
            {% endif %}
          
        </div>
        </div>
        {% endfor %}
    
      </div>
  
  </div>
</section>


<section class="featured-categories">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'images/add1.jpg' %}" >
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/add2.jpg' %}" >
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/add3.jpg' %}" >
      </div>
    </div>
  </div>
</section>


<section class="on-sale">
  <div class="container">
    <div class="title-box">
      <h2>Featured</h2>
    </div>
    
    <div class="row">
      
      {% for product in featured %}
      <div class="col-md-3">
        <div class="product-top">
          <img src="{{product.product_cover.url}}" >
          <div class="overlay-right">
            <a href="{{product.get_absolute_url}}"><button type="button" class="btn btn-secondary" title="Quick Shop">
                <i class="fa fa-eye"></i>
            </button></a>
            <a href="{% url 'cart-home' %}"><button type="button" class="btn btn-secondary" title="Add to Wishlist">
                <i class="fa fa-heart-o"></i>
            </button></a>
            <button type="button" class="btn btn-secondary" title="Add to Cart">
                <i class="fa fa-shopping-cart"></i>
            </button>
          </div>
        </div>
        <div class="product-bottom text-center">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
            <h3>{{product.name}}</h3>
            {% if product.on_sale %}
            <h5> <strike>{{product.price}}</strike> <br> {{ product.sale_price }}</h5>
            {% else %}
            <h5>৳ {{product.price}}</h5>
            {% endif %}
          
        </div>
        </div>
        {% endfor %}
    
      </div>
  
  </div>
</section>

{% endblock %}
