{% extends '_base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
  <div class="product-detail">
    {% if product.product_cover %}
      <img class="demo" src="{{ product.product_cover.url}}" alt="{{ product.name }}">
    {% endif %}
    <h2><a href="">{{ product.name }}</a></h2>
    <p>Category: {{ product.category }}</p>
    <p>Brand: {{product.vendor.brand}}</p>
    <p>Price: {{ product.price }}</p>

    <p><a href="{% url 'review_create' product.id %}">Drop Review</a></p>

    <div>
      <h3>Reviews</h3>
      <ol>
      {% for review in product.reviews.all %}
      <li>{{ review.review }} by ({{ review.user }})</li>
      {% endfor %}
      </ol>
    </div>

  </div>
{% endblock content %}
