
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html,body{

  width:100%;
  height:100%;
  font-family: 'Poppins', sans-serif;
  color:#222;
  text-transform: capitalize;
}

.navbar{
  padding:.8rem;

}
.navbar li{
  padding-right: 20px;
}
.nav-link{
   font-size: 1.1em !important;
}

.carousel-inner img{
  height:550px;
width:100%;
}

.carousel-caption{
  position:absolute;


}
.carousel-caption h1{
  text-shadow: 3px 3px 3px 15px #000;
}
.carousel-caption h3{
  text-shadow: 3px 3px 3px 15px #000;
  padding-bottom: 1rem;
}
.btn-primary{
background-color: black
}
.btn-primary:hover{
background-color: grey;

}
.jumbotron{
  padding: 1rem;
  border-radius: 0;

}
.padding{
  padding-bottom:2rem;
}
.welcome{
  width:75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  border-top:2px solid grey;
  width:95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-html5{
  color:#e54d26;
}

.fa-css3{
  color:#563d7c;
}

.fa-bootstrap{
  color:#2163af;
}
.fa-html5,.fa-css3,.fa-bootstrap{
  font-size: 4rem;
  margin:1rem;
}

.fun{
  width: 100%;
  margin-bottom: 2rem;
}
.gif{
  max-width: 100%;
  border-radius:85%;
}
.social a{
  font-size: 4rem;
  padding:2.5rem;
}
.fa-facebook{
  color:#3b5998;
}

.fa-twitter{
  color:#00aced;
}
.fa-instagram{
  color:#517fa4;
}
.fa-youtube{
  color:#bb0000;
}
.fa-google-plus-g{
  color:#dd4b39;
}

.fa-facebook:hover,

.fa-twitter:hover,

.fa-instagram:hover,

.fa-youtube:hover,

.fa-google-plus-g:hover{
  color:#d5d5d5;
}
footer{
  background-color: #3f3f3f;
    color:#d5d5d5;
    padding-top: 2rem;
}

hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
#ni{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}




.carousel-item{
transition: -webkit-transform 0.5s ease;
transition:  transform 0.5s ease;
transition:  transform 0.5s ease,-webkit-transform 0.5s ease;
-webkit-backface-visibility:visible;
backface-visibility:visible;

}

figure{
  position: relative;
  width: 100%;
  height: 60%;
  margin:0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: -999!important;
}
.fixed {
  background-image: url('images/bg3.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}


[class*='col-']{
  padding : 1rem;
}
@media (max-width: 992px) {
  .social a{
    font-size: 4rem;
    padding:2.5rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption{
    top:45%;


  }
  .carousel-caption h1{
  font-size: 350%;
  }
  .carousel-caption h3{
    font-size:140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .display-4{
    font-size:200%:

  }
  .social a{
    font-size: 2.5rem;
    padding:1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption{
    top:40%;


  }
  .carousel-caption h1{
  font-size: 250%;
  }
  .carousel-caption h3{
    font-size:110%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
.carousel-indicators{
  display: none;
}
.display-4{
  font-size:160%:
}
.social a{
  font-size: 2rem;
  padding:.7rem;
}
}
